// $color-primary: #f59a83;
$color-primary: #d3a951;
$color-grad-1: #957517;
$color-grad-2: #36332c;

$color-grey-light-1: #f9f5f3; // Light background
$color-grey-light-2: #f2efee; // Light lines
$text-light: #d3c7c3; // Light text
$text-dark: #262220; // Normal text
$color-grey-dark-2: #918581; // Lighter text

$gradient: linear-gradient(2deg, #d3a951, #957517);

$bp-large: 1200px;
$bp-medium: 980px;
$bp-small: 600px;
$bp-smallest: 500px;
